.label {
  display: flex;
  flex-direction: column;
  width: 600px;
  font-weight: 500;
  margin: auto;
  margin-bottom: 15px;
}

.input {
  padding: 10px 20px;
  border: 1px solid #0e0e5a;
  background-color: lightgrey;
  border-radius: 5px;
}

.input:focus {
  outline: transparent;
  border: 1px solid blue;
}
